{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Change User Group{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Orders</h2>
                {% for order in page_obj %}
                    <div class="card mb-3">
                        <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Order ID: {{ order.id }}</li>
                                    <li class="list-group-item">Student Username: {{ order.student.username }}</li>
                                    <li class="list-group-item">Total Amount: {{ order.total_amount }}</li>
                                    <li class="list-group-item">Created At: {{ order.created_at }}</li>
                                </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
