<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My site{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "order_food:home" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "order_food:order-food" %}">Order Food</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "order_food:orders-detail" request.user.id%}">
                                All orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "order_food:wallet-detail" request.user.id%}">
                                Wallet detail</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "order_food:charge-wallet" request.user.id%}">
                                Charge Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "sms_service:send"%}">
                                Send SMS</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "order_food:create-food"%}">
                            Create Food</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <span class="navbar-text">Logged in as {{ user.username }} |</span>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout/">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "authentication:login" %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "authentication:sign_up" %}">Sign up</a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

</body>
</html>